<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
    
    <servers>
        <server>
            <id>setup-jfrog-cli-server</id>
            <username>noam</username>
            <password>cmVmdGtuOjAxOjE3ODYxMDQ1MDA6QUY2TnN4SEpwM1oydWZFM1ZOVDFEdU81eVd1</password>
        </server>
    </servers>
    
    <profiles>
        <profile>
            <id>jfrog-only</id>
            <repositories>
                <repository>
                    <id>setup-jfrog-cli-server</id>
                    <name>JFrog Artifactory</name>
                    <url>https://evidencetrial.jfrog.io/artifactory/maven-virtual</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    
    <activeProfiles>
        <activeProfile>jfrog-only</activeProfile>
    </activeProfiles>
</settings>
